/* Header.module.css */
.header {
    background-color: rgb(66, 180, 255);
    padding: 0px 1rem 0px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    height: auto;
    width: auto;
    margin: 0px;
    top: 0;
    left: 0;

}


.title {
    font-size: 20px;
}

.userIcon {
    cursor: pointer;
}

.popoverContent {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.popoverItem {
    cursor: pointer;
    padding: 5px;
}

.popoverItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}