/* Sidebar.module.css */
.sidebar-variables{
 --sidebar-margin-top: 100px;
 --sidebar-color: rgba(66, 180, 255);
}

.sidebar {
    
    background-color: rgba(66, 180, 255);
    /* Adjust the width as needed */
    position: fixed;
    height: 90%;
    width: 10%;
    /* Fixed position to cover the whole left side */
    left: 1;
    transition: width 0.3s ease;
}

.collapsed {
    width: 0;
}


.sidebar-item {
    color: white;
    padding: 10px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.sidebar-item:hover {
    background-color: rgba(0, 255, 42, 0.3);
    
}

.sidebar.collapsed .sidebar-item {
    opacity: 0;
}

.toggleButton {
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}